
@font-face {
    font-family: Simran;
    src: url('./Font/static/Nunito-Medium.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Simran, sans-serif;
    font-weight: 600;
    font-size: 100%;
    background:#DFD9E2;
    /* background-image: linear-gradient(red, yellow, green); */
    
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
    --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #581B98;
}
/*splash*/


/* menu */
.menuoptions__containers{
    align-items: container;
    align-self: center;
    padding: 10px;
}
.first__message{
    margin-top: 6px;
    align-self: center;
    text-align: center;
}
.menu{
    /* align-items: center; */
    display: flex;
    flex-wrap:wrap;
    /* width: 130px;
    height: 40px; */
}


.custom-btn {
    /* width: 130px;
    height: 40px; */
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    flex: 1 3 40px;
  }

  /* 5 */
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: var(--primary);
  background: var(--primaryGradient);
  }
  .btn-5:hover {
    color:var(--primary);
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: var(--primaryGradient);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
   /* button 6 */
   .btn-6 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: var(--primary);
  background: var(--secondaryGradient);
  }
  .btn-6:hover {
    color:var(--primary);
    background: transparent;
     box-shadow:none;
  }
  .btn-6:before,
  .btn-6:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: var(--secondaryGradient);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-6:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-6:hover:before,
  .btn-6:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
/* .onerow{
    margin:9px;
    display: flex;
    flex-direction: row;
} */
/* For mobile devices */
@media only screen and (min-width: 400px) {
    /* body{
        background-color: blue;
    } */
    .chatbox {
        position: absolute;
        bottom: 30px;  
        right: 5px; 
    }
    .chatbox__support {
        width: 100%;
        height: 500px;
    }
    
}

/* For tablets and larger devices */
@media only screen and (min-width: 650px) {
    /* body{
        background-color: red;
    } */
    .chatbox {
        position: absolute;
        bottom: 30px;  
        right: 5px; 
    }
    .chatbox__support {
        width: 98vw;
        height: 500px;
        
    }
    
}

/* Additional styles for larger screens if needed */
@media only screen and (min-width: 800px) {
    /* Add your additional styles here */
    /* body{
        background-color: aquamarine;
    } */
    .chatbox {
        position: absolute;
        bottom: 30px;
        right: 30px;
    }
    .chatbox__support{
        width:800px;
        height: 500px;
    }
 }
/* CHATBOX
=============== */

.image__button{
    width: 40px;
    height: auto;
}

/* CONTENT IS CLOSE */
.chatbox__support {
position:relative;
    display: flex;
    flex-direction: column;
    background: #eee;
    /* width:600px;
    height: 500px; */
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    /*resize:both;
    overflow:auto;*/
}


/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    resize:both;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border: whitesmoke 2px;
    border-radius: 20%;
    
}


/* HEADER */
.chatbox__header {
    position: sticky;
    top: 0;
    background: orange;
}
/* full screen icon */
.full{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
}


/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}
.messages__item--typing {
    background:#eee;
    /* max-width: 60.6%; */
    width: 80px;
    height: 30px;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}
/*flash message*/
.message-box {
    position: absolute;
    right: 0;
    width: 300px;
    height: 80px;
    color: var(--primary);
    opacity: 0;
    
    

}

.messages-box-animation {
    transform: translateX(-40px);
    z-index: 123456;
    opacity: 1;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    
}


/* FOOTER */
.chatbox__footer {
    position: sticky;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    /* height: 450px;
    width: 800px; */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    padding-bottom:90px ;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}
.logo_robo{
    height: 55px;
    width: 57px;
    border-radius: 60%;
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-top: 20px; */
    position: absolute;
    bottom: 0;
    width: 100%;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
    border: #eee;
    border-radius: 20%;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/**
 * ==============================================
 * Dot Flashing
 * ==============================================
 */
.messages__item--typing {
    background: white;
    width: 80px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.typing-indicator {
    position: relative;
    margin-left:3px;
    width: 10px; /* Adjust the size of the dot */
    height: 10px; /* Adjust the size of the dot */
    border-radius: 50%; /* Ensure the dot is circular */
    background-color: #9880ff;
    color: #9880ff;
    animation: typing-indicator 1s infinite linear alternate;
    animation-delay: 0.5s;
}
.typing-indicator::before, .typing-indicator::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.typing-indicator:before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: typing-indicator 1s infinite alternate;
  animation-delay: 0s;
}
.typing-indicator::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  animation: typing-indicator 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes typing-indicator {
  0% {
    background-color: #9880ff;
  }
  50%, 100% {
    background-color:var(--primary)

  }
}
.full_screen_div
{
    cursor:pointer;
}
.fullview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
  }