<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/style.css">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>

<body>
    <div class="container">
        <div class="chatbox">

            <div class="chatbox__support">
                <div class="chatbox__header">
                    <div class="chatbox__image--header">
                        <img class="logo_robo"
                            src="{{ url_for('static', filename='images/cute-robot-waving-hand-cartoon-600nw-1917055787.webp') }}"
                            alt="image">
                    </div>
                    <div class="chatbox__content--header">
                        
                    </div>
                    <div class="full_screen_div">
                        <img class="full" src="{{ url_for('static', filename='images/fullLast.png') }}" alt="image">
                    </div>
                </div>
                <div class="chatbox__messages">
                    <div>
                    </div>
                </div>
                <!-- /  <div class="typing-indicator"></div> -->
                <div class="chatbox__footer">
                    <input type="text" id="ques" placeholder="Write a message...">
                    <button class="chatbox__send--footer send__button">Send</button>
                </div>
            </div>
            <div class="message-box">
                <img class="logo_robo"
                    src="{{ url_for('static', filename='images/cute-robot-waving-hand-cartoon-600nw-1917055787.webp') }}"
                    alt="image">
                <h4>Hello! </br>
                    Welcome to Edifecs Help Center!</h4>
            </div>
            <div class="chatbox__button">
                <button><img src="{{ url_for('static', filename='images/chat-bubble_6862417.png') }}"
                        class="image__button" alt="Logo"></button>

            </div>
        </div>
    </div>


    <!-- <script>
    // Define SCRIPT_ROOT using Flask's `url_for` function
    var SCRIPT_ROOT = "{{ request.script_root|tojson|safe }}";
</script> -->
    <script type="text/javascript" src="../static/app.js"></script>

</body>

</html>